<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="general"
		label="COM_CAL_CONFIG_GENERAL_LABEL"
		description="COM_CAL_CONFIG_GENERAL_DESC"
	>
		<field
			name="forecast"
			type="int"
			label="COM_CAL_CONFIG_GENERAL_FORECAST_LABEL"
			description="COM_CAL_CONFIG_GENERAL_FORECAST_DESC"
			default="150"
		>
		</field>
		<field
			name="archive_age"
			type="int"
			label="COM_CAL_CONFIG_GENERAL_ARCHIVE_AGE_LABEL"
			description="COM_CAL_CONFIG_GENERAL_ARCHIVE_AGE_DESC"
			default="14"
		>
		</field>
	</fieldset>
	<fieldset
		name="ct"
		label="COM_CAL_CONFIG_CT_LABEL"
		description="COM_CAL_CONFIG_CT_DESC"
	>
		<field
			name="ct_url"
			type="URL"
			label="COM_CAL_CONFIG_CT_URL_LABEL"
			description="COM_CAL_CONFIG_CT_URL_DESC"
			default=""
		>
		</field>
		<field
			name="ct_id"
			type="int"
			label="COM_CAL_CONFIG_CT_ID_LABEL"
			description="COM_CAL_CONFIG_CT_ID_DESC"
			default=""
		>
		</field>
		<field
			name="ct_token"
			type="text"
			label="COM_CAL_CONFIG_CT_TOKEN_LABEL"
			description="COM_CAL_CONFIG_CT_TOKEN_DESC"
			default=""
		>
		</field>
		<field
			name="ct_categories"
			type="text"
			label="COM_CAL_CONFIG_CT_CATEGORIES_LABEL"
			description="COM_CAL_CONFIG_CT_CATEGORIES_DESC"
			default=""
		>
		</field>
	</fieldset>
	<fieldset
		name="maps"
		label="COM_CAL_CONFIG_MAPS_LABEL"
		description="COM_CAL_CONFIG_MAPS_DESC"
	>
		<field
			name="maps_use"
			type="radio"
			label="COM_CAL_CONFIG_MAPS_USE_LABEL"
			description="COM_CAL_CONFIG_MAPS_USE_DESC"
			default="1"
			class="btn-group btn-group-yesno"
			>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field
			name="maps_key"
			type="text"
			label="COM_CAL_CONFIG_MAPS_KEY_LABEL"
			description="COM_CAL_CONFIG_MAPS_KEY_DESC"
			default=""
		>
		</field>
	</fieldset>
	<fieldset
		name="cron"
		label="COM_CAL_CONFIG_CRON_LABEL"
		description="COM_CAL_CONFIG_CRON_DESC"
	>
		<field
			name="cron_use"
			type="radio"
			label="COM_CAL_CONFIG_CRON_USE_LABEL"
			description="COM_CAL_CONFIG_CRON_USE_DESC"
			default="0"
			class="btn-group btn-group-yesno"
			>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field
			name="cron_key"
			type="text"
			label="COM_CAL_CONFIG_CRON_KEY_LABEL"
			description="COM_CAL_CONFIG_CRON_KEY_DESC"
			default=""
		>
		</field>
	</fieldset>
</config>