.cal-cpanel {

}
.cal-cpanel>.btn {
	width: 110px;
	height: 100px;
	margin-right: 7px;
	margin-bottom: 14px;
}
.cal-cpanel-icon {
	height: 40px;
	margin: 4px 0 6px 0;
	width: 100%;
	display: block;
	overflow: hidden;
	line-height: 40px;
}
.cal-cpanel-icon>[class^="icon-"], .cal-cpanel-icon>[class*=" icon-"] {
	font-size: 25px;
}